*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

.sass-cache
public/stylesheets/sass/*.css
public/stylesheets/*.css
tests/f.rb

# YARD artifacts
.yardoc
_yardoc
doc/
# Emacs artifacts
\#*
.#*
*~
# personal artifacts
bogus*
*.out
[Mm]akefile*
tmp_*
