*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp

.sass-cache
public/stylesheets/sass/*.css
public/stylesheets/*.css
specs/f.rb


.DS_Store

# YARD artifacts
.yardoc
_yardoc
doc/
# Emacs artifacts
\#*
.#*
*~
# personal artifacts
bogus*
*.out
[Mm]akefile*
tmp*
# RubyMine stuff
/.idea
